$font-list:  'Shadows Into Light', cursive;

.input_todo{
    padding: 0 0 2%;
}
.input_for_task{
    width: 400px;
    height: 35px;  
    border: none;
    border-top: 3px solid #4EA5D9;    
    border-bottom: 3px solid #4EA5D9;
    outline: none;
    color:#3a162a;
    padding-left: 10px;  
    font-size: 1.7em; 
    background-color: transparent;
    font-family: $font-list;
}