.task_bar {
padding: 0;
margin: 0;
width: 83%;
}

.task_time{
padding: 0;
margin: 0;
width: 14%;
}
.task_bar_main{
display: flex;
justify-content: space-between;
}
.task_bar_main li{
display: flex;
align-items: center;
list-style-type: none;
background-color: rgba(112, 164, 194, 0.466);
margin: 5px 0;
padding: 10px 0;
color: #3a162a;
text-transform: uppercase;
font-family: 'Shadows Into Light', cursive;
font-size: 2vw;
overflow: auto;
}
.task_bar_main li input{
    margin: 0 5%;
}
.done{
    text-decoration: line-through;
}